<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Advertisement Details</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="bg-background font-Courier">
    <%- include('partials/headerForOtherPages.ejs', { user: user }) %>

    <div class="container mx-auto px-4 mt-16">
      <br />
      <br />
      <div class="title mb-4 text-2xl font-semibold text-center">Advertisement Details:</div>
      <div class="overflow-hidden rounded-2xl border-4 border-navbarbackground mb-10">
        <table class="w-full mb-8">
          <tbody>
            <tr>
              <td class="text-xl font-semibold px-4 py-2 text-navbarbackground">Brand:</td>
              <td class="text-xl px-4 py-2"><%= advertisement.brand %></td>
            </tr>
            <tr>
              <td class="text-xl font-semibold px-4 py-2 text-navbarbackground">City:</td>
              <td class="text-xl px-4 py-2"><%= advertisement.city %></td>
            </tr>
            <tr>
              <td class="text-xl font-semibold px-4 py-2 text-navbarbackground">Price:</td>
              <td class="text-xl px-4 py-2">$<%= advertisement.price %></td>
            </tr>
            <tr>
              <td class="text-xl font-semibold px-4 py-2 text-navbarbackground">Manufacturing date:</td>
              <td class="text-xl px-4 py-2"><%= advertisement.date %></td>
            </tr>
            <tr>
              <td class="text-xl font-semibold px-4 py-2 text-navbarbackground">Fuel type:</td>
              <td class="text-xl px-4 py-2"><%= advertisement.fuel_type %></td>
            </tr>
            <tr>
              <td class="text-xl font-semibold px-4 py-2 text-navbarbackground">Car condition:</td>
              <td class="text-xl px-4 py-2"><%= advertisement.car_condition %></td>
            </tr>
            <tr>
              <td class="text-xl font-semibold px-4 py-2 text-navbarbackground">Kilometers used:</td>
              <td class="text-xl px-4 py-2"><%= advertisement.kilometers %>km</td>
            </tr>
            <tr>
              <td class="text-xl font-semibold px-4 py-2 text-navbarbackground">Transmission type:</td>
              <td class="text-xl px-4 py-2"><%= advertisement.transmission %></td>
            </tr>
            <tr>
              <td class="text-xl font-semibold px-4 py-2 text-navbarbackground">Body color:</td>
              <td class="text-xl px-4 py-2"><%= advertisement.color %></td>
            </tr>
            <tr>
              <td class="text-xl font-semibold px-4 py-2 text-navbarbackground">Owner:</td>
              <td class="text-xl px-4 py-2"><%= advertisement.username %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
        <% advertisement.images.forEach(image => { %>
        <div
          class="relative mb-20 image mr-5 image-details border-4 border-navbarbackground rounded-lg overflow-hidden max-w-96 max-h-96"
          data-id="<%= image.url %>"
        >
          <img
            src="<%= image.url %>"
            alt="Image for <%= advertisement.brand %>"
            class="ad-detail-img image w-full h-full"
          />

          <% if (user && user.username === advertisement.username) { %>
          <button
            class="absolute inset-0 delete-image bg-black bg-opacity-50 text-white text-sm flex items-center justify-center transition duration-300 opacity-0 hover:opacity-100"
          >
            Delete
          </button>
          <% } %>
        </div>
        <% }) %>
      </div>
      <% if (user && user.username === advertisement.username) { %>
      <div class="title mb-4 mt-10 text-2xl font-semibold">Upload a new image</div>
      <%- include(partialPath, { advertisementId: advertisement.id }) %> <% } %>
    </div>

    <%- include('partials/footer.ejs') %>

    <script src="/js/ajax_delete.js"></script>
    <script src="/js/dropdownuser.js"></script>
  </body>
</html>
