<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <title>Search Results</title>
  </head>
  <body class="bg-background font-Courier">
    <%- include('partials/headerForOtherPages.ejs') %>

    <div class="container mx-auto px-4">
      <div class="title mt-24 mb-4 text-2xl font-semibold text-center">
        Search result for you, <%= user.username %>:
      </div>

      <% if (advertisements.length === 0) { %>
      <p>No advertisements found matching the search criteria.</p>
      <% } else { %>
      <div id="advertisementsList" class="flex flex-wrap justify-center gap-10 p-4 bg-transparent">
        <% advertisements.forEach(ad => { %>
        <div
          class="advertisement advertisement w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-6 bg-navbarborder border-4 border-navbarbackground rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300"
        >
          <div class="relative overflow-hidden h-48">
            <% if (ad.imageUrl) { %>
            <img
              class="object-cover w-full h-full border-2 border-background rounded-lg"
              src="<%= ad.imageUrl %>"
              alt="<%= ad.brand %>"
            />
            <% } else { %>
            <img
              class="object-cover w-full h-full border-2 border-background rounded-lg"
              src="/icons/car.png"
              alt="<%= ad.brand %>"
            />
            <% } %>
          </div>
          <div class="text-center mt-8">
            <h3 class="text-2xl font-extrabold text-background"><%= ad.brand %></h3>
            <p class="text-xl font-bold text-navbarhoverborder">Price: $<%= ad.price %></p>
            <p class="text-xl font-bold text-background">City: <%= ad.city %></p>

            <a
              href="/advertisement/<%= ad.id %>"
              class="w-full mt-2 block border-2 border-transparent bg-navbarbackground hover:bg-navbarborder hover:border-2 hover:border-background hover:rounded-lg text-white px-4 py-2 rounded-md"
              >View Advertisement</a
            >
          </div>
          <div class="flex justify-center mt-10 gap-6">
            <div
              class="flex flex-col items-center hover:scale-125 hover: transform transition-transform mr-8 duration-300"
            >
              <img src="/icons/heart.png" alt="Heart Icon" class="h-8 w-8" />
            </div>
            <div class="flex flex-col items-center hover:scale-125 transform transition-transform duration-300">
              <img src="/icons/cart.png" alt="Cart Icon" class="h-8 w-8" />
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

    <% } %> <%- include('partials/footer.ejs') %>

    <script src="/js/dropdownuser.js" async></script>
  </body>
</html>
